.link-label {
	-fx-text-fill: #9f9f9f;
	-fx-font-size: 18px;
	-fx-cursor: hand;
	-fx-underline: false;
}

.link-label:hover {
	-fx-text-fill: #6072ff;
	-fx-font-size: 18px;
	-fx-cursor: hand;
	-fx-underline: true;
}

.visual-vertex {
	-fx-effect: dropshadow(three-pass-box, black, 10, 0, 0, 0);
	-fx-fill: radial-gradient(focus-angle 34deg, center 50% 50%, radius 75%, white, #696969);
	-fx-stroke: black;
	-fx-stroke-width: 0.5;
	-fx-stroke-type: inside;
}

.visual-vertex:hover {
	-fx-effect: dropshadow(three-pass-box, black, 50, 0, 0, 0);
	-fx-fill: radial-gradient(focus-angle 34deg, center 50% 50%, radius 75%, white, #c0c0c0);
}