.link-label {
	-fx-text-fill: #9f9f9f;
	-fx-font-size: 18px;
	-fx-cursor: hand;
	-fx-underline: false;
}

.link-label:hover {
	-fx-text-fill: #6072ff;
	-fx-font-size: 18px;
	-fx-cursor: hand;
	-fx-underline: true;
}

.visual-vertex {
	-fx-effect: dropshadow(three-pass-box, black, 10, 0, 0, 0);
	-fx-fill: radial-gradient(focus-angle 34deg, center 50% 50%, radius 75%, white, #696969);
	-fx-stroke: black;
	-fx-stroke-width: 0.5;
	-fx-stroke-type: inside;
}

.visual-vertex:hover {
	-fx-effect: dropshadow(three-pass-box, #2176de, 20, 0, 0, 0);
	-fx-fill: radial-gradient(focus-angle 34deg, center 50% 50%, radius 75%, white, #8bb7c6);
}

.visual-vertex:pressed, .visual-vertex.active {
	-fx-effect: dropshadow(three-pass-box, #00459a, 20, 0.25, 0, 0);
	-fx-fill: radial-gradient(focus-angle 34deg, center 50% 50%, radius 75%, white, #0072ff);
}

.split-pane > .split-pane-divider {  
    -fx-padding: 0 0 0 2px;  
} 

.tree-view * , .list-view {
    -fx-border-color: null;
    -fx-border-width: 0;
    -fx-background-color: derive(rgb(147, 147, 147), 98%);
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.titled-pane.text-like > .title {
	-fx-background-color: null;
}